<div class="row">
  <div class="small-7 columns">
    <%= render partial: "user_details" %>
  </div>
  <div class="small-5 columns">
  </div>
</div>

<% if current_user.role?(:customer) %>
  <%= link_to(edit_customer_path(@customer), class: 'button radius') do %>
    &nbsp;<%= "Edit Profile" %>
  <% end %>
<% else %>
  <%= link_to(edit_user_path(@user), class: 'button radius') do %>
    &nbsp;<%= "Edit Profile" %>
  <% end %>
<% end %>

<!-- <i class="fa fa-pencil"></i> -->
