<div class="row">
  <div class="card">
	<div class="image">
	  <%= link_to image_tag("title.jpg"), items_path %>
	  <span class="title"><h1 style="color:white;">
	    <%= "Welcome back, #{current_user.customer.first_name}!"%></h1></span>
	</div>
	<div class="action">
	  <%= link_to items_path, class: 'button radius' do %>
      <!-- <i class="fa fa-list"></i> -->
      &nbsp;Go Shopping!
      <% end %>&nbsp;&nbsp;
	  <%= link_to cart_path, class: 'button radius' do %>
      <!-- <i class="fa fa-list"></i> -->
      &nbsp;View Your Cart
      <% end %>
	</div>
  </div>


</div>

<div class="row"><br>
  <h2>Newest Additions</h2><br>
  <% @newest_items.each do |item| %>
  <div class="small-3 columns">
    <div class="card">
	  <div class="image">
		<%= link_to image_tag(item.photo), item_path(item) %></div>
	  <div class="content">
	    <%= "#{item.name} (#{number_to_currency item.current_price})" %>
	  </div>
	</div>
  </div>
  <% end %>
</div>
