<div class = "row">
  <div class="card">
    <div class="card-image">
      <%= image_tag "title.jpg" %>
      <span class="card-title"><h3>Welcome to Bread Express</h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in auctor arcu, ut tempor massa. Donec imperdiet, lectus vel varius dictum, ligula mauris pulvinar felis, sed finibus est massa eget eros. Aenean placerat efficitur arcu, eu tempor justo dictum quis. Etiam venenatis feugiat nibh, in vestibulum sapien.</span>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
	  <div class="card-image">
	    <%= image_tag "home-1.jpg" %>
	  </div>
	  <div class="card-content">
	    <p>On sale now!</p>
	  </div>
	</div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
	  <div class="card-image">
	    <%= image_tag "home-2.jpg" %>
	  </div>
	  <div class="card-content">
	    <p>On sale now!</p>
	  </div>
	</div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
	  <div class="card-image">
	    <%= image_tag "home-3.jpg" %>
	  </div>
	  <div class="card-content">
	    <p>On sale now!</p>
	  </div>
	</div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
	  <div class="card-image">
	    <%= image_tag "home-4.jpg" %>
	  </div>
	  <div class="card-content">
	    <p>On sale now!</p>
	  </div>
	</div>
  </div>



</div>

