

<% if @active_addresses.empty? %>
  <p><em>There are no active addresses at this time.</em></p>
<% else %>
  <h3>Active Addresses</h3>
  <table class="table table-striped highlight bordered">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Recipient</th>
        <th>Address</th>
        <th>Billing?</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @active_addresses.each do |address| %>
        <tr>
          <td><%= link_to address.customer.proper_name, customer_path(address.customer) %></td>
          <td><%= address.recipient %></td>
          <td><%= link_to "#{address.street_1}, #{address.city}, #{address.state} #{address.zip}", address_path(address) %></td> 
          <td><%= address.is_billing.humanize %></td>
          <td>
            <%= link_to(edit_address_path(address), class: 'button tiny radius warning') do %>
              &nbsp;Edit&nbsp;
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @active_addresses, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
<% end %>