<h3>Item Details</h3>

<p>
  <b>Name</b>: <%= @item.name %>
</p>

<p>
  <%= @item.description %> <br />
</p>

<p>
  <b>Current Price</b>: <%= number_to_currency @item.current_price %>
</p>

<p>
  <b>Total weight</b>: <%= @item.weight %> lbs.
</p>

<p>
  <b>Active</b>: <%= @item.active ? 'Yes' : 'No' %>
</p>

