<% if items.empty? %>
  <p><em>There are no <%= state %> items at this time.</em></p>
<% else %>
<h2>Available Items</h2>
  <% items.each do |item| %>
  <div class="small-4 columns">
    <div class="card">
    <div class="image">
    <%= link_to image_tag(item.photo), item_path(item) %></div>
    <div class="content">
      <%= item.name %>&nbsp;&nbsp;
      <b><%= number_to_currency item.current_price %></b><br><br>
      <%= item.units_per_item %> <%= item.category == 'bread' ? 'loaf' : item.category %></div>
    <div class="action"><center>
      <% if logged_in? && current_user.role?(:admin) %>
        <%= link_to(edit_item_path(item), class: 'button radius warning') do %>
          &nbsp;Edit&nbsp;
        <% end %>
        <%= link_to(new_item_price_path, class: 'button radius warning') do %>
          &nbsp;Edit Price&nbsp;
        <% end %>
      <% elsif logged_in? && current_user.role?(:customer) %>
        <%= link_to(add_to_cart_path(item.id), method: 'get', class: 'button radius alert') do %>
          <!-- <i class="fa fa-trash-o"></i> -->
          &nbsp;<%= "Add to Cart" %>
        <% end %>
      <% end %>
    </center></div>
    </div><br><br>
  </div>
  <% end %>
<%= will_paginate items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>
