<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BreadExpress</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <section class="hero">
      <%= render :partial => "partials/nav" %>
      <div class="container" id="main_content">
        <%= render :partial => "partials/flash" %>
          <%= yield %>
        </div>
      </div>
      <footer>
        <div class="container" id="footer">
          <%= render partial: 'partials/footer' %>
      </footer>
    </section>
  </body>
</html>